[run]
source = .
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */__pycache__/*
    */asgi.py
    */wsgi.py

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov
